body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#devices {
	list-style-type: none;
}

.device_icon {
	width: 110px;
	height: 110px;
}

.device .title {
	font-weight: bold;
}

.device .value {
	font-weight: normal;
}

.sensor {
	margin-left: 30px;
}

.actuator {
	margin-left: 30px;
}

.options {
	margin-left: 30px;
}

.streamBtn {
	font-weight: normal;
	margin-top:10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.optionBtn {
	margin-top:10px;
	margin-right: 10px;
	margin-bottom: 10px;
}